<div class='row'>
 <div class="item uinfo col-xs-12">
    <img src="{{ customer.headimgurl }}" onError="this.src='http://placehold.it/380x380';" class="img-rounded img-responsive">
    <div class="info">
       <h5>{{ customer.username }}</h5>
       <p><small>关注时间： {{ strftime customer.subscribeTime "YYYY-MM-DD" }}</small></p>
       <p><small>推荐人： {{#if parent.username }} {{ parent.username }} {{else}} 流量话费俱乐部 {{/if}} 会员编号{{customer.id}}</small></p>
       {{#if customer.isAffiliate }}<p><small style='color:red'>恭喜你已经成为供应商</small></p>{{/if}}
    </div>
 </div>
</div>
<div class='row'>
 <div class="item total col-xs-12">
    <div style="width:100%;">
       <div style="width:25%;">消费：￥{{ customer.orderTotal }}</div>
       <div style="width:25%;">余额：￥{{ customer.remainingTraffic }}</div>
       <div style="width:25%;">分销：￥{{ customer.salary }}</div>
       <div style="width:25%;">积分：{{ customer.totalIntegral }}</div>
    </div>
 </div>
</div>