<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>{{#if title }}{{title}}(流量话费俱乐部){{else}}流量话费俱乐部{{/if}}</title>
  {{{css "bill"}}}
</head>
<body>
    {{{js "bill" }}}
    {{{body}}}
</body>
</html>
