<div class='container-fluid'>
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">商家信息</h1>
      </div>
  </div>

<form role="form" accept-charset="UTF-8" action="{{action}}" method="{{method}}">
  <div class='row'>
    <div class="col-lg-6">

        <div class="form-group">
            <label>名字</label>
            <input class="form-control" placeholder="输入名字" name="name" value="{{ seller.name }}">
        </div>
        <div class="form-group">
          <label>公司名字</label>
          <input class="form-control" placeholder="输入公司名字" name="company" value="{{ seller.company }}">
        </div>
        <div class="form-group">
          <label>主页 (不需要输入http://)</label>
          <input class="disabled form-control" placeholder="输入主页" name="homepage" value="{{ seller.homepage }}">
        </div>
    </div>
    <div class="col-lg-6">
      {{#unless seller.isNewRecord }}
        <div class='row'>
          <div class="col-lg-6 col-xs-12">
          <div class="form-group">
            <label>AccessToken</label>
            <input class="form-control" id="access_token" disabled value="{{ seller.accessToken }}">
          </div>
          </div>
          <div class="col-lg-6 col-xs-12" style="padding-top: 23px;">
            <a href="javascript:void(0);" id="reset_token" data-id="{{ seller.id }}" class="btn btn-info col-lg-12">
              重置Access Token
            </a>
          </div>
        </div>
      {{/unless}}

      <div class="form-group">
        <label>联系电话</label>
        <input class="form-control" placeholder="输入联系电话" name="phone" value="{{ seller.phone }}">
      </div>

      <div class="form-group">
        <label>QQ</label>
        <input class="form-control" placeholder="输入QQ" name="qq" value="{{ seller.qq }}">
      </div>
    </div>

  </div>

  <hr>
  <div class="row">
    <div class="col-lg-11">
      <button type="submit" class="pull-right btn btn-primary">提  交</button>
    </div>
  </div>
</form>

</div>